@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Entity.CoreProfile

<link href="../../Content/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
@{
    var profileKey = "";
    var projectKey = "";
    var enable = "";
    var mqServer = "";
    var systemNum = "";
    var operateNum = "";
    var exceptionNum = "";
    var normalNum = "";
    var description = "";
    
    if (Model != null)
    {
        profileKey = Model.ProfileKey;
        projectKey = Model.ProjectKey;            
        enable = Model.Enable?"checked":"";
        mqServer = Model.MQServer;
        systemNum = Model.SystemConsumerNum.ToString();
        operateNum = Model.OperateConsumerNum.ToString();
        exceptionNum = Model.ExceptionConsumerNum.ToString();
        normalNum = Model.NormalConsumerNum.ToString();
        description = Model.Description;
    }
}
<script>
    function UpsertProfile() {
        $("#btnSubmit").attr("disabled", "true");
        //$("#btnAdd").unbind("click", AddProject);

        var profileKey = $("#txtProfileKey").val();
        var projectKey = $("#txtProKey").val();
        var enable = $("#chkEnable").prop('checked');
        var mqServer = $("#txtMQServer").val();
        var systemNum = $("#txtSysNum").val();
        var operateNum = $("#txtOpNum").val();
        var exceptionNum = $("#txtExNum").val();
        var normalNum = $("#txtNorNum").val();
        var description = $("#txtDescription").val();

        $.ajax({
            url: '/core/upsert',
            type: 'post',
            dataType: 'json',
            data: {ProfileKey:profileKey, ProjectKey: projectKey, Enable: enable,MQServer:mqServer, SystemConsumerNum: systemNum, OperateConsumerNum: operateNum, ExceptionConsumerNum: exceptionNum, NormalConsumerNum: normalNum,Description:description },
            success: function (data) {
                if (data.Status == "Success")
                    bootbox.alert('' + '成功');
                else
                    bootbox.alert('' + '失败');

                $("#btnSubmit").removeAttr("disabled");

            },
            error: function () {
                bootbox.alert("发生错误");
                $("#btnSubmit").removeAttr("disabled");

            }
        })
    }

    function Goback() {
        location.href = "/core/profiles";
    }


    $(document).ready(
        function () {
            $("#btnSubmit").bind("click", UpsertProfile);
            $("#btnCancel").bind("click", Goback);
        }
    );
</script>
<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Core Monitor
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tabbable-custom ">
            <ul class="nav nav-tabs ">
                <li class="">
                    <a href="/core/monitor"> Statistics </a>
                </li>
                <li class="">
                    <a href="#tab_5_2"> Rules </a>
                </li>
                <li class="active">
                    <a href="/core/profiles"> Profiles </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="tab_5_1">
                    <p> 监控进程、rule </p>
                    <p>
                        
                    </p>
                </div>
                <div class="tab-pane" id="tab_5_2">
                    <p> Howdy, I'm in Section 2. </p>
                    <p>
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                        molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
                    </p>
                    <p>
                        <a class="btn green" href="ui_tabs_accordions_navs.html#tab_5_2" target="_blank"> Activate this tab via URL </a>
                    </p>
                </div>
                <div class="tab-pane active" id="tab_5_3">


                    <div class="portlet light " style="width:500px">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject font-blue-sharp bold">@((Model != null)? "Edit":"New")</span>
                            </div>

                        </div>
                        <div class="portlet-body form">
                            <form class="form-horizontal" role="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-6 control-label">Profile Key</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Default Input" id="txtProfileKey" value="@profileKey" disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-6 control-label">Project Key</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Default Input" id="txtProKey" value="@projectKey">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-6 control-label">Project Description</label>
                                        <div class="col-md-6">                                            
                                            <textarea class="form-control" rows="3" placeholder="Default Input" id="txtDescription" >@description</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-6 control-label">Enable</label>
                                        <div class="col-md-6">
                                            <div class="checkbox-list">
                                                <label class="checkbox-inline">
                                                    <div class="checker" id="uniform-inlineCheckbox21"><span class=""><input type="checkbox" id="chkEnable" @enable></span></div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-6 control-label">MQ Server</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Default Input" id="txtMQServer" value="@mqServer">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-6 control-label">System Consumer Num</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Default Input" id="txtSysNum" value="@systemNum">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-6 control-label">Operate Consumer Num</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Default Input" id="txtOpNum" value="@operateNum">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-6 control-label">Exception Consumer Num</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Default Input" id="txtExNum" value="@exceptionNum">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-6 control-label">Normal Consumer Num</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Default Input" id="txtNorNum" value="@normalNum">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-6 col-md-6">
                                            <button type="submit" id="btnSubmit" class="btn green">Submit</button>
                                            <button type="button" id="btnCancel" class="btn default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
