<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Watcher</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
@{
    string key = ViewBag.ProjectKey as string;
}
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1bbc9b;border:0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Watcher", "Index", "Home", null, new { @class = "navbar-brand", @style = "color:white;font-size:25px;font-weight:bold" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "report", new { controller = "home", projectkey = key }, new { @style = "color:white" })</li>
                    <li>@Html.ActionLink("异常", "exceptionlog", new { controller = "log", projectkey = key }, new { @style = "color:white" })</li>
                    <li>@Html.ActionLink("操作", "About", "Home", new { @style = "color:white" })</li>
                    <li>@Html.ActionLink("系统", "About", "Home", new { @style = "color:white" })</li>
                    <li>@Html.ActionLink("常规", "Contact", "Home", new { @style = "color:white" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tracker</p>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
